<%= form_for(@temptext) do |f| %>
  <% if @temptext.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@temptext.errors.count, "error") %> prohibited this temptext from being saved:</h2>

      <ul>
      <% @temptext.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cust_init %><br />
    <%= f.text_area :cust_init %>
  </div>
  <div class="field">
    <%= f.label :cust_success %><br />
    <%= f.text_area :cust_success %>
  </div>
  <div class="field">
    <%= f.label :frien_welc_ref %><br />
    <%= f.text_area :frien_welc_ref %>
  </div>
  <div class="field">
    <%= f.label :frien_post_redemp %><br />
    <%= f.text_area :frien_post_redemp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
