<p id="notice"><%= notice %></p>

<p>
  <b>Cust init:</b>
  <%= @temptext.cust_init %>
</p>

<p>
  <b>Cust success:</b>
  <%= @temptext.cust_success %>
</p>

<p>
  <b>Frien welc ref:</b>
  <%= @temptext.frien_welc_ref %>
</p>

<p>
  <b>Frien post redemp:</b>
  <%= @temptext.frien_post_redemp %>
</p>


<%= link_to 'Edit', edit_temptext_path(@temptext) %> |
<%= link_to 'Back', temptexts_path %>
