<style>

.coupon_container {
	padding: 64px;
	border: 1px dashed #66cc00;
	border-bottom: 0px;
	width: 512px;
	
}

.coupon_header {
    color: #66CC00;
    font-size: 26px;
    margin-bottom: 26px;
}

.coupon_text {
    color: #66CC00;
    font-size: 22px;
    margin-bottom: 60px;
}

.coupon_qr {
	text-align: center;
}

.coupon_code {
	color: #66cc00;
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 60px;
}

.coupon_terms_of_use {
    color: #999999;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 22px;
    margin-top: 83px;
}

.coupon_exp {
	font-family: AvenirLTStd-Black;
	font-size: 14px;
	color: #999999;
	margin-bottom: 50px;
}

.coupon_footer {
    background-color: black;
    height: 96px;
    width: 640px;
}

.coupon_footer_container {
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    max-width: 512px;
    padding-top: 33px;
}

.coupon_footer_text {
    color: #66CC00;
    font-size: 22px;
    margin-left: 15px;
    position: absolute;
}	

}
</style>
<a name="frien_coupon"></a>
<div class="coupon_container">
	<div class="coupon_header">
		<%= @smb.full_name.upcase %>
	</div>
	<p class="coupon_text">
		I'm trying <%= @smb.full_name %> because my friend <br/>
		recommended it and gave me a special offer.
	</p>
	<div class="coupon_qr">
		<img src="/sample_qrcode.png" width="200px">
		<p class="coupon_code">
			A8ou876sUWQ_p3RQMb0v_
		</p>
	</div>
	<% available_incentives = @campaign.incentives.find(:all, :conditions => ['frien_incentive_long IS NOT ? AND frien_incentive_long != ?', nil, ""]) %>
	<p class="coupon_text">
		<%= (available_incentives.present?)? available_incentives.first.frien_incentive_long : "Get a free dessert with your meal and choose from anything on the menu!" %>
	</p>
	
	<p class="coupon_terms_of_use">
		TERMS OF USE<br/>
		<%= (available_incentives.present?)? available_incentives.first.term_of_use_fi : "Valid at our 221 Ossington Avenue location only. Cannot be combined with other offers." %>
	</p>
	
	<p class="coupon_exp">
		EXPIRY: <%= Date.parse(@campaign.exp_date.to_s).strftime("%b %e, %Y").upcase %>
	</p>

</div>
<div class="coupon_footer">
		<div class="coupon_footer_container">
			<img src="/credvine_icon_transparent.png" style="vertical-align:middle">
			<span class="coupon_footer_text">
				powered by credvine
			</span>
		</div>
	</div>